name: Deploy Next.js to EC2

on:
  # Trigger on push to main
  push:
    branches:
      - main
  # ENABLE MANUAL BUTTON (The Fix)
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            echo "Connecting to server..."
            cd /var/www/html
            git pull origin main
            npm install --legacy-peer-deps
            npm run build
            pm2 restart my-app
